@import "variables.less";

.page .teaser_grid_container h2{
	font-size: 18px;
}
.wpb_gmaps_widget .wpb_wrapper {
	padding:0 @imp;
}

.wpb_row {
	margin-bottom: 0px @imp;
}

h2.wpb_heading {
	background: none repeat scroll 0% 0% #3D4C53;
	font-family: "Open Sans",sans-serif !important;
	text-transform: uppercase;
	font-size: 15px;
	width: 100%;
	color: #FFF;
	padding: 5px;
	margin-top: 20px;
	font-style: normal;
	font-weight: 400;
}

//FLEX SLIDER FOR LANDING PAGES
.flexslider {
	box-shadow: none @imp;
	border-radius: 0 @imp;
	border:none @imp;
}
.flex-caption {
	height:150px;
}
.wpb_posts_slider .flex-caption, .wpb_posts_slider .nivo-caption {
	background-color: rgba(237, 237, 237, 1) @imp;
}