//colors
@alpha:1;
@master-blue: rgba(0,73,144,@alpha);
@master-yellow:rgba(222,180,8,@alpha);

@dark-green:rgba(167, 192, 62,@alpha);
@dark-green-50: fade(@dark-green, 50%);
@dark-blue:rgba(8,39,69,@alpha);

@dark-blue-green:rgba(5,95,117,@alpha);
@dark-blue-green-50:fade(@dark-blue-green,50%);
@philly-311-blue:rgba(2,127,181,@alpha);

@orange:rgba(232,148,12,@alpha);
@red:rgba(196,90,32,@alpha);

//whites and grays
@white: rgba(255,255,255,@alpha);
@off-white:rgba(242,242,242,@alpha);
@dark-gray:rgba(61,76,83,@alpha);
@faded-gray:fade(@dark-gray,75%);
@light-gray:rgba(185,185,185,@alpha);
@charcoal:rgba(43,43,43,@alpha);
@black: rgba(0,0,0,@alpha);

@light-purple: rgba(226,233,243,@alpha);
@light-corn-silk:rgb(242, 242, 242);



//
@imp: !important;