//nav styles

.navbar-default .navbar-nav>li>a {
    color: fade(@master-blue, 50%) !important;
}

@media (min-width: @screen-lg-min) {
    .navbar-nav>li {
        padding: 10px 44px;
    }
    
#menu-main-menu.nav li:nth-child(1) > a {
    background: url(../phila-gov-bootstrap/images/nav/residents.gif) no-repeat center center;
    padding: 50px 0 0 0;
    display: inline-block;
}

#menu-main-menu.nav li:nth-child(2) > a {
    background: url(../phila-gov-bootstrap/images/nav/business.gif) no-repeat center center;
    padding: 50px 0 0 0;
    display: inline-block;
}

#menu-main-menu.nav li:nth-child(3) > a {
    background: url(../phila-gov-bootstrap/images/nav/government.gif) no-repeat center center;
    padding: 50px 0 0 0;
    display: inline-block;

}

#menu-main-menu.nav li:nth-child(4) > a {
    background: url(../phila-gov-bootstrap/images/nav/visitors.gif) no-repeat center center;
    padding: 50px 0 0 0;
    display: inline-block;
}

#menu-main-menu.nav li:nth-child(5) > a {
    background: url(../phila-gov-bootstrap/images/nav/non-profit.gif) no-repeat center center;
    padding: 50px 0 0 0;
    display: inline-block;
}

#menu-main-menu.nav li:nth-child(6) > a {
    background: url(../phila-gov-bootstrap/images/nav/tech.gif) no-repeat center center;
    padding: 50px 0 0 0;
    display: inline-block;
}

    
    
}