//nav styles

.navbar {
    text-transform: uppercase;
    padding-bottom: 5px @imp;
    margin-bottom: 14px;
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.navbar li:hover {
    opacity: .8;
   .transition();
}
.navbar-default {
    z-index: 100000; //needed for content fade out
}
@media (min-width: @screen-sm-min) {
   .navbar-default .navbar-nav>li>a { 
       color: @master-blue !important;
   }
}

.navbar-nav {
    margin: 0;
    background: @master-blue;
}

.navbar-default .navbar-nav>li>a {
    color: @white;
    .transition();
    border-bottom: 1px solid @white;
}
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus{
    background:@master-yellow;
     .transition();
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus{
    background:@master-yellow;
     .transition();
}

 #menu-main-menu.nav li:nth-child(1) > a {
      .img-retina("../phila-gov-bootstrap/images/nav/residents-white.png", "../phila-gov-bootstrap/images/nav/residents-white@2.png", 28px, 20px);
        background-repeat: no-repeat;
        background-position: 5px 9px;
        padding: 10px 50px 10px;
        display: inline-block;
        width: 100%;
        text-align: left;
    }

    #menu-main-menu.nav li:nth-child(2) > a {
        .img-retina("../phila-gov-bootstrap/images/nav/business-white.png", "../phila-gov-bootstrap/images/nav/business-white@2.png", 28px, 20px);
        background-repeat: no-repeat;
        background-position: 5px 9px;
        padding: 10px 50px 10px;
        display: inline-block;
        width: 100%;
        text-align: left;
    }


    #menu-main-menu.nav li:nth-child(3) > a {
         .img-retina("../phila-gov-bootstrap/images/nav/government-white.png", "../phila-gov-bootstrap/images/nav/government-white@2.png", 34px, 25px);
        background-repeat: no-repeat;
        background-position: 5px 9px;
        padding: 10px 50px 10px;
        display: inline-block;
        width: 100%;
        text-align: left;

    }

    #menu-main-menu.nav li:nth-child(4) > a {
         .img-retina("../phila-gov-bootstrap/images/nav/visitors-white.png", "../phila-gov-bootstrap/images/nav/visitors-white@2.png", 28px, 20px);
        background-repeat: no-repeat;
        background-position: 5px 9px;
        padding: 10px 50px 10px;
        display: inline-block;
        width: 100%;
        text-align: left;
    }

    #menu-main-menu.nav li:nth-child(5) > a {
        .img-retina("../phila-gov-bootstrap/images/nav/non-profit-white.png", "../phila-gov-bootstrap/images/nav/non-profit-white@2.png", 34px, 25px);
        background-repeat: no-repeat;
        background-position: 5px 9px;
        padding: 10px 50px 10px;
        display: inline-block;
        width: 100%;
        text-align: left;
    }

    #menu-main-menu.nav li:nth-child(6) > a {
        .img-retina("../phila-gov-bootstrap/images/nav/n3rd-white.png", "../phila-gov-bootstrap/images/nav/n3rd-white@2.png", 34px, 25px);
        background-repeat: no-repeat;
        background-position: 5px 9px;
        padding: 10px 50px 10px;
        display: inline-block;
        width: 100%;
        text-align: left;
    }

@media (min-width: @screen-sm-min) {
    .navbar-nav {
        background: white;
    }
    .navbar-collapse{
        width:33% @imp;
        margin-top:20px;
    }
    .navbar-nav>li >a {
        padding:0;
    }   
    .navbar-nav > li {
        width: 120px;
    }
    .navbar-nav > li:nth-child(4), .navbar-nav > li:nth-child(5), .navbar-nav > li:nth-child(6) {
       float:right;
    }
     #menu-main-menu.nav li:nth-child(1) > a {
        background:none;
        padding:0;
    }

    #menu-main-menu.nav li:nth-child(2) > a {
        background:none;
        padding:0;
    }

    #menu-main-menu.nav li:nth-child(3) > a {
        background: none;
        padding:0;
    }

    #menu-main-menu.nav li:nth-child(4) > a {
        background: none;
        padding:0;
    }

    #menu-main-menu.nav li:nth-child(5) > a {
        background: none;
        padding:0;
    }

    #menu-main-menu.nav li:nth-child(6) > a {
        background: none;
        padding:0;
    }
}

@media (min-width: @screen-md-min) {
    .navbar-collapse{
        margin-top:20px;
    }
    .navbar-nav>li >a {
        padding:0;
    }   
    .navbar-nav > li {
        width: 151px;
    }
    .navbar-nav > li:nth-child(4), .navbar-nav > li:nth-child(5), .navbar-nav > li:nth-child(6) {
       float:right;
    }
}

@media (min-width: @screen-lg-min) {
    .navbar-collapse{
        margin-top:0;
    }
    .navbar-nav>li {
        padding: 0px 25px 0 15px;
    }    

    #menu-main-menu.nav li:nth-child(1) > a {
        .img-retina("../phila-gov-bootstrap/images/nav/residents.png", "../phila-gov-bootstrap/images/nav/residents@2.png", 38px, 28px);
        background-repeat: no-repeat;
        background-position:center 5px;
        padding: 30px 0 0 0;
        display: inline-block;
    }

    #menu-main-menu.nav li:nth-child(2) > a {
        .img-retina("../phila-gov-bootstrap/images/nav/business.png", "../phila-gov-bootstrap/images/nav/business@2.png", 38px, 28px);
        background-repeat: no-repeat;
        background-position:center 5px;
        padding: 30px 0 0 7px;
        display: inline-block;
    }

    #menu-main-menu.nav li:nth-child(3) > a {
        .img-retina("../phila-gov-bootstrap/images/nav/government.png", "../phila-gov-bootstrap/images/nav/government@2.png", 38px, 28px);
        background-repeat: no-repeat;
        background-position:center 5px;
        padding: 30px 0 0 8px;
        display: inline-block;

    }

    #menu-main-menu.nav li:nth-child(4) > a {
        .img-retina("../phila-gov-bootstrap/images/nav/visitors.png", "../phila-gov-bootstrap/images/nav/visitors@2.png", 38px, 28px);
        background-repeat: no-repeat;
        background-position:center 5px;
        padding: 30px 0 0 6px;
        display: inline-block;
    }

    #menu-main-menu.nav li:nth-child(5) > a {
        .img-retina("../phila-gov-bootstrap/images/nav/non-profit.png", "../phila-gov-bootstrap/images/nav/non-profit@2.png", 45px, 28px);
        background-repeat: no-repeat;
        background-position:center 5px;
        padding: 30px 0 0 4px;
        display: inline-block;
    }

    #menu-main-menu.nav li:nth-child(6) > a {
        .img-retina("../phila-gov-bootstrap/images/nav/n3rd.png", "../phila-gov-bootstrap/images/nav/n3rd@2.png", 45px, 28px);
        background-repeat: no-repeat;
        background-position:center 5px;
        padding: 30px 0 0 0;
        display: inline-block;
    }
    .navbar-nav > li:nth-child(4), .navbar-nav > li:nth-child(5), .navbar-nav > li:nth-child(6) {
       float:left @imp;
    }
    .navbar-nav > li {
        width: auto @imp;
    }
    
}
