/*general typography*/
body {
    font-family: 'Open Sans', sans-serif @imp;
    font-weight: 400; 
	line-height: 1.6;
}
p, article{
	line-height:21px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif @imp;
    font-weight: 400; 
}
h2, .h2 {
		font-size: 20px;
	}
@media (min-width: @screen-sm-min) { 
	h2, .h2 {
		font-size: 26px;
	}
}

h3, .h3{
	font-size:22px;
}
.page-header h1, h1.page-header{
	margin:0;
	border:none;
	font-family: Georgia, serif @imp; 
}
//styles for heading bar
h1.break, h2.break, h2.widgettitle {
    font-family: 'Open Sans', sans-serif @imp;
    text-transform: uppercase;
    font-size:20px;
    width:100%;
    color:@white;
    padding:5px;
    margin-top:20px;
    font-style: italic;
	font-weight: 400;
}
//gray heading bar
.page h2.break, h2.widgettitle {
	background:@dark-gray;
	font-size:15px;
	font-style:normal;
}
.landing-page h2.break{
	margin:0;
}
.section-header {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    padding:5px;
    color:@white;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif @imp;
    font-size: 20px;
    margin:0;
    z-index:10;
    font-style: italic;
	font-weight: 400;
}
.top-annoucements .section-header {
    background:@dark-green;
    color:@charcoal;
}

.services .break, .services .cat-label {
    background:@dark-blue-green;
}
.trending .break {
    background:@master-yellow;
    color:@charcoal;
}
.overlay-box h1{
    font-size:20px;
}
.cat-label-top, .cat-label, .PhilaWidgetTitle  {
    position:absolute;
    top:0px;
    left:0px;
    padding:5px;
    color:#fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    font-size: 14px;
    z-index:1;
}

h1.PhilaWidgetTitle {
    margin:0;
}


.tiny-text{
    font-size:90%;
}

.meta {
	font-size:13px;
	color:@faded-gray;
}
//news
.phila_news h3 {
	font-weight:400;
	margin:0 0 10px 0 @imp;
}

.glyphicon {
	font-family: "Glyphicons Halflings" @imp;
}

article ul {
	line-height:24px;
}

ul {
	padding-left: 25px;
}

.page header h1, .post header h1, .phila_news header h1  {
	font-size: 30px;
}

.page h1, .page .h1, .post h1, .post .h1, .phila_news h1, .phila_news .h1 {
	font-size: 26px;
}

//general page/post styles


.page h3, .page .h3, .post h3, .post .h3, .phila_news h3, .phila_news .h3  {
	font-size: 18px;
}
h1.inner-page-title{
	.marg-top(0);
}

.page h3 + p{
	margin-bottom: 20px;
}

.medium{
	font-size: 18px;
}

.icon-heading {
	color: @dark-gray;
	.marg-bottom(15px);
	text-transform: uppercase;
	font-style: italic;
}

.icon-heading i {
	.marg-right(10px);
}

@media(min-width:767px) {
	.page header h1, .post header h1, .phila_news header h1  {
		font-size: 36px;
	}

	.page h1, .page .h1, .post h1, .post .h1, .phila_news h1, .phila_news .h1 {
		font-size: 30px;
	}
}