@import "phila-variables.less";
@import "phila-mixins.less";

/*footer*/
footer{
    background:@light-purple;
    margin:50px 0 0 0;
    padding:20px;
    position:relative;
    font-size:12px;
}
footer ul {
    margin-bottom:0;
    padding:0;
}
footer .footer-logo{
    position: absolute;
    .img-retina("../phila-gov-bootstrap/images/footer-bell.png", "../phila-gov-bootstrap/images/footer-bell@2.png", 44px, 51px);
    background-repeat: no-repeat;
    background-position: center center;
    height: 51px;
    width: 44px;
    top: -52px;
    margin-left:auto;
    margin-right: auto;
    left: 0;
    right:0;
}
.footer-links {
    color:@white;
    padding:14px;
}
.footer-links ul li {  
    display:inline-block;
    padding-right:20px;
}
.footer-links ul li:last-child {  
    padding-right:0;
}

footer .social-media {
    text-align: right;
}

footer .text {
    vertical-align: bottom;
    padding: 0 10px 6px 0;
}

footer .text{
    width: 100%;
}

@media (min-width: 976px){
    footer .text{
        width: auto;
    }

}
footer .social-media a span {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

.footer-text-hide(){
    width:22px;
    height:22px;
    display:block;
    opacity: .5;
    .transition();
};

footer .social-media .flickr {
    .img-retina("../phila-gov-bootstrap/images/icons/social/flickr.png", "../phila-gov-bootstrap/images/icons/social/flickr@2.png", 22px, 22px);
    background-repeat: no-repeat;
    .footer-text-hide();
}

footer .social-media .news {
    .img-retina("../phila-gov-bootstrap/images/icons/social/news.png", "../phila-gov-bootstrap/images/icons/social/news@2.png", 22px, 22px);
    background-repeat: no-repeat;
    .footer-text-hide();
}
footer .social-media .you-tube {
    .img-retina("../phila-gov-bootstrap/images/icons/social/you-tube.png", "../phila-gov-bootstrap/images/icons/social/you-tube@2.png", 22px, 22px);
    background-repeat: no-repeat;
    .footer-text-hide();
}
footer .social-media .rss {
     .img-retina("../phila-gov-bootstrap/images/icons/social/rss.png", "../phila-gov-bootstrap/images/icons/social/rss@2.png", 22px, 22px);
    background-repeat: no-repeat;
    .footer-text-hide();
}
footer .social-media .google {
    .img-retina("../phila-gov-bootstrap/images/icons/social/gplus.png", "../phila-gov-bootstrap/images/icons/social/gplus@2.png", 22px, 22px);
    background-repeat: no-repeat;
    .footer-text-hide();
}
footer .social-media .twitter {
    .img-retina("../phila-gov-bootstrap/images/icons/social/twitter.png", "../phila-gov-bootstrap/images/icons/social/twitter@2.png", 22px, 22px);
    background-repeat: no-repeat;
    .footer-text-hide();
}
footer .social-media .linked-in {
    .img-retina("../phila-gov-bootstrap/images/icons/social/linkedin.png", "../phila-gov-bootstrap/images/icons/social/linkedin@2.png", 22px, 22px);
    background-repeat: no-repeat;
    .footer-text-hide();
}
footer .social-media .facebook {
    .img-retina("../phila-gov-bootstrap/images/icons/social/facebook.png", "../phila-gov-bootstrap/images/icons/social/facebook@2.png", 22px, 22px);
    background-repeat: no-repeat;
    .footer-text-hide();
}
footer .social-media a:hover{
    opacity:1;
    .transition();
}