/*
Icons currently supported:
	1. Facebook
	2. Twitter

*/

//class for all social media
.smsc{
	.marg-right(5px);
}
.social {
	.marg-left(30px);
}
//class to hide text 
.social-text-hide(){
	display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
	text-indent: -99999em;
};

.facebook_smsc{
    .img-retina("../phila-gov-bootstrap/images/icons/social/departments/facebook.png", "../phila-gov-bootstrap/images/icons/social/departments/facebook@2.png", 30px, 30px);
    background-repeat: no-repeat;
    .social-text-hide();
	.transition();
}
a.facebook_smsc:hover{
	opacity:.8;
	.transition();
}


.twitter_smsc{
    .img-retina("../phila-gov-bootstrap/images/icons/social/departments/twitter.png", "../phila-gov-bootstrap/images/icons/social/departments/twitter@2.png", 30px, 30px);
    background-repeat: no-repeat;
    .social-text-hide();
	.transition();
}
a.twitter_smsc:hover{
	opacity:.8;
	.transition();
}

.flickr_smsc{
    .img-retina("../phila-gov-bootstrap/images/icons/social/departments/flickr.png", "../phila-gov-bootstrap/images/icons/social/departments/flickr@2.png", 30px, 30px);
    background-repeat: no-repeat;
    .social-text-hide();
	.transition();
}
a.flickr_smsc:hover{
	opacity:.8;
	.transition();
}