//colors
@master-blue: rgba(0,73,144,1);
@master-yellow:rgba(222,180,8,1);

@dark-green:rgba(152,170,77,1);
@dark-green-50: fade(@dark-green, 50%);
@light-green: rgba(125,140,40,1); 

@dark-blue-green:rgba(5,95,117,1);
@dark-blue-green-50:fade(@dark-blue-green,50%);
@light-blue:rgba(0,142,176,1);

@orange:rgba(232,148,12,1);

//whites and grays
@white: rgba(255,255,255,1);
@off-white:rgba(242,242,242,1);
@dark-gray:rgba(61,76,83,1);
@light-gray:rgba(185,185,185,1);
@charcoal:rgba(43,43,43,1);


@light-purple: rgba(226,233,243,1);


//
@imp: !important;