@import "variables.less";

.landing-page .teaser_grid_container h2{
	font-size: 18px;
}
.landing-page .wpb_gmaps_widget .wpb_wrapper {
	padding:0 @imp;
}

.landing-page .wpb_row {
	margin-bottom: 0px @imp;
}

.landing-page h2.wpb_heading, .landing-page .wpb_wrapper h2.widgettitle {
	background: none repeat scroll 0% 0% #3D4C53;
	font-family: "Open Sans",sans-serif !important;
	text-transform: uppercase;
	font-size: 15px;
	width: 100%;
	color: #FFF;
	padding: 5px;
	margin-top: 0;
	font-style: normal;
	font-weight: 400;
}

//FLEX SLIDER FOR LANDING PAGES
.landing-page .flexslider {
	box-shadow: none @imp;
	border-radius: 0 @imp;
	border:none @imp;
}
.landing-page .flex-caption {
	height:150px;
}
.landing-page .wpb_posts_slider .flex-caption, .wpb_posts_slider .nivo-caption {
	background-color: rgba(237, 237, 237, 1) @imp;
}

//TEXT overrides

.widget_rss {
	text-transform: lowercase;
}

.widget_rss ul li:first-letter{
	text-transform: uppercase;
}