/*general typography*/
@import "phila-variables.less";

body {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400; 
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700; 
}

h1.break{
    font-family: 'Marvel', sans-serif !important;
    text-transform: uppercase;
    font-size:22px;
    width:100%;
    color:@white;
    padding:5px;
    margin-top:20px;
    font-style: italic;
}
.section-header {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    padding:5px;
    color:@white;
    text-transform: uppercase;
    font-family: 'Marvel', sans-serif @imp;
    font-size: 24px;
    margin:0;
    z-index:10;
    font-style: italic;
}
.top-annoucements .section-header {
    background:@dark-green;
}

.services .break {
    background:@dark-blue-green;
}
.trending .break {
    background:@master-yellow;
}

.cat-label-top, .cat-label, .PhilaWidgetTitle  {
    position:absolute;
    top:0px;
    left:0px;
    padding:5px;
    color:#fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
    font-size: 14px;
}
a
.services .PhilaWidgetTitle {
    background:@dark-blue-green;
}
.trending .cat-label-top, .trending .cat-label {
    background:@master-yellow;
}

h1.cat-label-top, h1.cat-label, h1.PhilaWidgetTitle {
    margin:0;
}
.trending-headline {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 24px;
    padding: 10px;
    margin: 0;
    z-index: 1;
    text-shadow: 1px 1px @charcoal;
    .gradient;
}

.tiny-text{
    font-size:90%;
}
.tiny-text-right{
    font-size:90%;
    float: right;
}