
//nav stuff
.visible-xs.logo{
    .img-retina("../phila-gov-bootstrap/images/phila-logo-final-sm.png", "../phila-gov-bootstrap/images/phila-logo-final-sm@2.png", 172px, 53px);
    background-repeat: no-repeat;
    width:172px;
    height:53px;
    margin:10px 0;
}


//mobile buttons
.home .mobile-button{
    text-transform:uppercase;
    background:@light-green;
    display: block;
    text-align: center;
    padding: 5px;
    min-height:44px;
    margin-bottom: 10px;
    font-size:.8em;
    color:@white;
}

.home .mobile-button h1{
    font-size:1.2em;
}
.home .mobile-button h2{
    font-size:1em;
}
.home .mobile-visitors section{
    margin-bottom: 10px;
}
.home .mobile-visitors .philly-311-link{
    margin-bottom: 10px;
    padding: 5px;
}
.home .mobile-visitors #PhilaActionWidget{
    background:#ccc;
    height:140px;//dumb, i know
    min-height: 140px;//must have both for overrides 
    padding:10px;
}

.home .mobile-visitors #PhilaActionWidget h1.PhilaWidgetTitle, .home .mobile-visitors #PhilaActionWidget #PhilaReportMainWindow {
    display:none;
}

.home .mobile-visitors .PhilaWidget {
    height:auto;
}

.home .mobile-visitors #PhilaPayMainWindow {
    margin-bottom: 0;
}