/*general styles*/
@import "phila-mixins.less";

.PhilaWidget{
    padding: 30px 10px 10px;
    position: relative;
    margin-bottom: 10px;
}
.home .PhilaWidget a{
    color:@white;
}
    
.PhilaWidget {
    min-height:210px; /*CHANGE BEFORE PROD */
}
.home .PhilaWidget h2{
    font-size:20px;
}
.home h1.PhilaWidgetTitle{
    background:@dark-blue-green;
}

/*alerts widgets*/
.home #PhilaAlertsWidget{
    color:#fff;
    .clearfix();
    margin-bottom:10px;
    padding:0;
}
@media(min-width:480px){
    .home #PhilaAlertsWidget {
        padding-left: 5px;
        padding-right: 5px;
    }
}
.home #PhilaAlertsWidget .col-md-16{
    padding: 0;
}

.home #PhilaAlertsWidget .alerts {
    text-transform: uppercase;
    font-size:12px;
    margin:5px 0 5px 0;
    font-style: italic;
    font-weight: 400;   
    display:block;
}

#PhilaAlertsDateTimeBlock {
    background:@red;
    padding:2px 5px;
    height:30px;
}
.home #PhilaAlertsWidget #date{
    font-family: 'Marvel', sans-serif !important;
    font-style: italic;
    font-size: 18px;
}
.home #PhilaAlertsWidget #time{
    font-weight: 700;
}
.home #PhilaAlertsIconsBlock a:hover {
    .transition();
    
}
.important-info{
    float:right;
}
.home #PhilaAlertsDateTimeBlock{
    padding:2px 0px 0px 5px @imp;
}
.home #PhilaAlertsIconsBlock {
    text-transform: uppercase;
    font-size:11px;
    background:@red;
    padding:2px 0 0 0;
    text-align: center;
    min-height:50px;
}

.home #PhilaAlertsIconsBlock .weather-alert{
    .img-retina("../phila-gov-bootstrap/images/icons/weather-alerts.png", "../phila-gov-bootstrap/images/icons/weather-alerts@2.png", 25px, 25px);
    background-repeat: no-repeat;
    height:25px;
    background-position: center;
    padding: 0;
}

.home #PhilaAlertsIconsBlock .transit-alert{
    .img-retina("../phila-gov-bootstrap/images/icons/transit.png", "../phila-gov-bootstrap/images/icons/transit@2.png", 25px, 25px);
    background-repeat: no-repeat;
    height:25px;        
    background-position: center;
}
.home #PhilaAlertsIconsBlock .trash-alert{
    .img-retina("../phila-gov-bootstrap/images/icons/trash.png", "../phila-gov-bootstrap/images/icons/trash@2.png", 25px, 25px);
    height:25px;
    background-repeat: no-repeat;
    background-position: center;
}
.home #PhilaAlertsIconsBlock .street-alert{
   .img-retina("../phila-gov-bootstrap/images/icons/street-closures.png", "../phila-gov-bootstrap/images/icons/street-closures@2.png", 25px, 25px);
    height:25px;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width: 768px) {
    .home #PhilaAlertsWidget .alerts{
        display:inline-block;
        padding:0 20px 0 0;  
        margin:5px 0 0 0;
    }
    .home #PhilaAlertsIconsBlock {
        min-height:30px;
    }
}

@media (min-width:992px) {
    .home #PhilaAlertsIconsBlock {
        text-align: right;
    }
}
.home #PhilaAlertsIconsBlock .weather-alert, 
.home #PhilaAlertsIconsBlock .transit-alert, 
.home #PhilaAlertsIconsBlock .trash-alert,
.home #PhilaAlertsIconsBlock .street-alert{
    display: inline-block;
    margin: 0 11px 0 6px;
    padding: 30px 0 2px 0;
}

@media (min-width: 768px) {
    .home #PhilaAlertsIconsBlock .weather-alert{
    background-size: 28%;
        background-position: left;
        padding:5px 0 0 25px;
        margin: 0 25px 0 0;
    }
    .home #PhilaAlertsIconsBlock .transit-alert{
        background-size: 29%;
         background-position: left;
        padding:5px 0 0 25px;
        margin: 0 25px 0 0;
    }
    .home #PhilaAlertsIconsBlock .trash-alert{
        background-size: 19%;
         background-position: left;
        padding:5px 0 0 25px;
        margin: 0 25px 0 0;
    }
    .home #PhilaAlertsIconsBlock .street-alert{
        background-size: 28%;
         background-position: left;
        padding:5px 0 0 25px;
        margin: 0 5px 0 0;
    }
}



.home #PhilaAlertsIconsBlock a{
    color:@white;
}

.home #PhilaAlertsIconsBlock .weather-alert:hover, 
.home #PhilaAlertsIconsBlock .transit-alert:hover, 
.home #PhilaAlertsIconsBlock .trash-alert:hover,
.home #PhilaAlertsIconsBlock .street-alert:hover{
    opacity: .8;
}
//CALENDAR

.home-events-container {
    position: relative;
}
.home-events-container h1 {
    position:static;
}
.home-events #PhilaGoogleCalendarWidget.PhilaWidget {
    padding:10px 0 0 0;
}
.home-events h1.PhilaWidgetTitle{
    display: none;
}

.PhilaGoogleCalendarDateRow{
    font-weight: bold;
}
.PhilaGoogleCalendarTitleRow {
    .clearfix;
    padding:0 0 5px 0;
}

.home-events #PhilaGoogleCalendarWidget a{
    color:@dark-green;
    .transition();
    float:right;
    display: block;
}
.home-events {
    border:1px solid @dark-green;
    padding:0 10px 10px 10px;
    background:@off-white;
    font-size: .89em;
    height:145px;
    overflow: auto;
}
.home-events{
    color:@charcoal;
}
.home-events a{
    color:@dark-green;
}
.calendar-read-more{
    text-transform: uppercase;
    font-size:12px;
    display:block;
    float:right;
    border-bottom: 1px solid @dark-green;
}
.phila-entry-data{
    background: #fff;
    position: absolute;
    top: -28px;
    padding: 20px;
    border: 1px solid #000;
    z-index: 10000;
    width: 107%;
    min-height: 250px;
    overflow: auto;
    left: -10px;
    max-height: 275px;
}
p.more-events-bg{
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 0;
    width: 100%;
    margin:0;
}
a.more-events{
    color: @charcoal;
    display: block;
    position: absolute;
    right: 10px;
}
/*311*/
.home #Phila311Widget{
    background:url(../phila-gov-bootstrap/images/philly-311-home-bg.jpg) no-repeat center top fade(@dark-blue-green-50, 20%);
    min-height:430px;
    
}
.home #Phila311LinkBlock{
    padding-top:191px;
}
.home #Phila311LinkBlock {
    background:url(../phila-gov-bootstrap/images/philly-311-logo.png) no-repeat center top transparent;
}
.home #Phila311LinkBlock a{
    display:block;
    width:100%;
    padding:10px;
    background: @philly-311-blue;
    margin-bottom:5px;
}

.home #Phila311LinkBlock a:hover{
    .fade-in-out(.8);
}
/*property search*/
#PhilaPropSearchWidget{
    background:@off-white;
    border:1px solid @dark-blue-green;
    padding: 60px 10px 10px;
}
#PhilaPropSearchWidget a {
    color:@dark-blue-green;
}
#PhilaPropSearchWidget p{
    margin-top: 10px;
}

#PhilaPropSearchInputFields .left-inner-addon span{
    position: absolute;
    padding: 3px 8px;
    pointer-events: none;
    font-size: 24px;
    color: #b9b9b9;
}
.home #PhilaPropSearchInputFields input[type="text"] {
    width: 100%;
    background: fade(@white,90%);
    padding: 9px 5px 5px 40px;
    margin-bottom: 10px;
    border:1px solid @dark-blue-green;
}
/*ACTION */
#PhilaActionWidget{
    height:430px;
    background:url(../phila-gov-bootstrap/images/need-to-bg.jpg) no-repeat center top fade(@dark-blue-green-50, 20%);
    padding: 50px 10px 10px;
}
.home #PhilaActionWidget a{
    display:block;
    width:100%;
    margin-bottom:5px;
}
.home #PhilaActionWidget a:hover{
    .fade-in-out(.8);
}
.home .PhilaFindDropDown, .home .PhilaObtainDropDown, .home .PhilaPayDropDown {
    padding:  0 0 10px 0;
    width:100%;
}
.home #PhilaPayMainWindow {
    display:block;
    margin-bottom: 45px;
}
.home #PhilaFindJumpMenu, .home #PhilaObtainJumpMenu, .home #PhilaPayJumpMenu{
    border:1px solid @dark-blue-green;
    width:100%;
    padding:5px 5px 5px 35px;
    
}
.home select#PhilaFindJumpMenu{
    .img-retina("../phila-gov-bootstrap/images/icons/find.png", "../phila-gov-bootstrap/images/icons/find@2.png", 25px, 24px);
    background-repeat: no-repeat;
    background-position: 5px 4px;
    background-color:@off-white;
}
.home select#PhilaObtainJumpMenu{
    .img-retina("../phila-gov-bootstrap/images/icons/obtain.png", "../phila-gov-bootstrap/images/icons/obtain@2.png", 25px, 23px);
    background-repeat: no-repeat;
    background-position: 5px 4px;
    background-color:@off-white;
}
.home select#PhilaPayJumpMenu{
    .img-retina("../phila-gov-bootstrap/images/icons/pay-online.png", "../phila-gov-bootstrap/images/icons/pay-online@2.png", 27px, 20px);
    background-repeat: no-repeat;
    background-position: 5px 4px;
    background-color:@off-white;
}
.home .report {
    padding: 20px 20px 20px 40px;
     .img-retina("../phila-gov-bootstrap/images/icons/report.png", "../phila-gov-bootstrap/images/icons/report@2.png", 19px, 27px);
    background-repeat: no-repeat;
    background-position: 10px 14px;
    background-color:@philly-311-blue;
}
.home .submit-tip {
    padding: 20px 0 20px 40px;
     .img-retina("../phila-gov-bootstrap/images/icons/submit-tip.png", "../phila-gov-bootstrap/images/icons/submit-tip@2.png", 27px, 20px);
    background-repeat: no-repeat;
    background-position: 7px 18px;
    background-color:@philly-311-blue;
    
}