/*
Icons currently supported:
	1. Facebook
	2. Twitter

*/

//class for all social media
.smsc{
	.marg-right(5px);
}
.social {
	.marg-left(30px);
}
//class to hide text 
.social-text-hide(){
	display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
	text-indent: -99999em;
};